.region-odd.region-count-3 .form-item .form-select,
.count-4.with-block-editing .form-item .form-select{
    border:1px solid #dfdfdf;
    line-height: 20px;
    padding: 0 5px;
    vertical-align: middle;
    background: url("../images/input-canhbao.png")-3px -3px no-repeat;
    width: 190px;
    height: 30px;
}
.region-odd.region-count-3 .form-item:after{
    clear: both;
    content: "";
    display: table;
}
.region-odd.region-count-3 .form-item label{
    display: none !important;
}
.region-odd.region-count-3 .form-item .form-select{
    float: right;
}
.region-odd.region-count-3 .form-item label, .count-4.with-block-editing .form-item label{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.title_bang{
    color: #A50119;
    font: 18px OpenSansSemibold;
    text-align: center;
}

.count-3.with-block-editing{
    float: left;
    width: 50%;
}
.count-4.with-block-editing{
    float: right;
    width: 44%;
}
.count-5.with-block-editing{
    clear: both;
}
.count-5.with-block-editing h3, .count-5.with-block-editing .vertical-tabs,
#group_bien_do_values .content-multigroup-cell-field-bien-do label,
#group_bien_do_values .content-multigroup-cell-field-bien-do-ban label
{
    display:none !important;
}

.pre_table{
    background-image: url("../images/button2-bg.png");
    border: medium none;
    height: 35px;
    line-height: 35px;
    width: 155px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
}